<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653152014706-8647m3t7td5f4gmq9du9ug73l0209eig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653152014706-8647m3t7td5f4gmq9du9ug73l0209eig</string>
	<key>API_KEY</key>
	<string>AIzaSyCwmtw_PeDUS_N1LGnXwFTQ3fb1ypf00b0</string>
	<key>GCM_SENDER_ID</key>
	<string>653152014706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isil.CaraLibro</string>
	<key>PROJECT_ID</key>
	<string>redsocialcaralibro</string>
	<key>STORAGE_BUCKET</key>
	<string>redsocialcaralibro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653152014706:ios:7f24e126a0e779a7decdeb</string>
</dict>
</plist>